.accordions {
  height: 20rem;
  margin: 1rem;

  .accordion {
    width: 100%;
    border-bottom: 1px solid $lightGrayishBlue;
    margin-bottom: 0.8rem;

    .accordion__toggler {
      display: flex;
      align-items: center;
      width: 100%;
      transition: all 0.2s;
      margin-bottom: 0.8rem;

      &:hover,
      .active {
        cursor: pointer;
      }

      .accordion__title {
        flex: auto;
        font-size: 0.8rem;
        font-weight: 400;

        &:hover,
        .active {
          font-weight: 700;
        }
      }

      .accordion__arrow {
        justify-self: end;
        max-width: 0.5rem;
        flex: 0 0 1rem;
        right: 0.5rem;

        transition: all 0.2s;
        &.active {
          transform: rotate(-180deg);
        }
      }
    }

    .accordion__panel {
      font-size: 0.8rem;
      color: $darkGrayishBlue;
      margin-bottom: 0.8rem;
      padding-right: 1.4rem;
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
