// I use a media query for mobile styles so I don't have to overwrite these styles for the desktop viewport later on.
@media screen and (max-width: 375px) {
  .card {
    background-color: white;
    border-radius: 2rem;
    height: 33.5rem;
    width: 20.3rem;
    margin: 0 2rem;
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.2);

    // Show/hide images based on viewport

    .card__images {
      .desktop-only {
        display: none;
      }

      #imgMobileWoman {
        // visibility: hidden;
        position: relative;
        transform: translateX(-50%) translateY(-55%);
        top: 50%;
        left: 45%;
      }

      #imgMobilePattern {
        position: relative;
        transform: translateX(-50%) translateY(-12.5rem);
        top: 0;
        left: 50%;
      }
    }
  }
}
