// I use a media query for mobile styles so I don't have to overwrite these styles for the desktop viewport later on.
@media screen and (max-width: 375px) {
  .card {
    @include globalCard;
    height: 33.5rem;
    width: 20.3rem;
    flex-direction: column;
    margin: 4rem 2rem 0 2rem;

    .card__images {
      height: 8rem;
      border-radius: 2rem 2rem 0 0;

      .desktop-only {
        display: none;
      }

      #imgMobileWoman {
        // visibility: hidden;
        position: relative;
        transform: translateX(-50%) translateY(-55%);
        top: 0;
        left: 45%;
      }

      #imgMobilePattern {
        position: relative;
        transform: translateX(-50%) translateY(-12.5rem);
        top: 0;
        left: 50%;
      }
    }

    .card__faq {
      flex: 1 1 auto;
      border-radius: 0 0 2rem 2rem;
    }

    .card__title {
      flex: 1 1 2rem;
      text-align: center;
      font-weight: 700;
      font-size: 1.625rem;
    }
  }
}
